<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>
	<springProfile name="default|dev|test">
		<appender name="STDOUT"
			class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.sss}[%-5p][%L][%t] %C--%m%n
				</pattern>
			</encoder>
		</appender>

		<appender name="FILE"
			class="ch.qos.logback.core.FileAppender">
			<File>./logs/sm-users.log</File>
			<encoder>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.sss}[%-5p][%L][%t] %C--%m%n
				</pattern>
			</encoder>
		</appender>

		<root level="INFO">
			<appender-ref ref="FILE" />
			<appender-ref ref="STDOUT" />
		</root>
	</springProfile>
	<springProfile name="prod">
	</springProfile>
</configuration>